<h5>{{messageList.totalSize}} messages found.</h5>

<a [routerLink]="['create']" class="btn btn-sm btn-success mb-2">New Message</a>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th>
                    <a [routerLink]="['.']" [queryParams]="{ sort: getSort('when') }">When</a>
                </th>
                <th>
                    <a [routerLink]="['.']" [queryParams]="{ sort: getSort('from.username') }">From</a>
                </th>
                <th>
                    <a [routerLink]="['.']" [queryParams]="{ sort: getSort('to.username') }">To</a>
                </th>
                <th>
                    <a [routerLink]="['.']" [queryParams]="{ sort: getSort('subject') }">Subject</a>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let message of messageList.result">
                <td style="white-space: nowrap">
                    <a [routerLink]="[message._id]" class="btn btn-sm btn-primary mr-1">
                        Update
                    </a>
                    <button (click)="deleteMessage(message._id)" class="btn btn-sm btn-danger" [disabled]="$any(message).isDeleting">
                        <span *ngIf="$any(message).isDeleting" class="spinner-border spinner-border-sm"></span>
                        <span *ngIf="!$any(message).isDeleting">Delete</span>
                    </button>
                </td>
                <td>{{message.when | moment}}</td>
                <td>{{message.from.username}}</td>
                <td>{{message.to.username}}</td>
                <td>{{message.subject}}</td>
            </tr>
            <tr *ngIf="!messageList.result || !messageList.result.length">
                <td colspan="5" class="text-center">
                    <span class="spinner-border spinner-border-lg align-center"></span>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<nav>
    <ul class="pagination justify-content-center">
        <li *ngFor="let p of pages" class="page-item" [class.disabled]="p == messageList.page">
            <a class="page-link" [routerLink]="['.']" [queryParams]="{ page: p }">{{p}}</a>
        </li>
    </ul>
</nav>